/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #d3d3d3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: black;
  font-family: Lato;
}

/* LOGO
--------------------------------- */
.nacro_logo{
  margin-left: 2em;
}
/* NAVBAR
--------------------------------- */
.navbar {
  background-color: gray;
}

.navbar-nav > li{
  font-size: x-large;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* VIDEO 
------------------------------------*/
.col-md-7 > p{
  font-size: 1.9em;
  margin-left: 3%;
  background-color: grey;
}

.col-md-5 > video{
  background-color: green;
}

#myVideo {
  width: 100%;
  height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

/* Contact Us Form 
--------------------------------------------------*/
.mb-4{
  background-color: gray;
  float: middle;
  /* margin-left: 1em; */
}
.row > .col-md-4{
  margin-left: 12em;
}

.msg_box {
  width: 90%;
  height: 7em;
}
textarea {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

